.container {
    margin: 0;
}

.navBrand {
    width: 100%;
    height: auto;
    color: white;
    margin-bottom: 10px;
}

.navBrand h1 {
    font-size: 30px;
}

.navBrand h5 {
    font-size: smaller;
}